@media only screen and (min-width: 1200px) {
  .local_video_small{
    width: 780px !important;
  }
}

@media only screen and (max-width: 767px) {
      .video_con_bttn{
        width: 35px;
      }
      .video_conf_text{
          color: white;
      }
      .video_con_bttn{
        width: 40px;
      }
}