.holder  {
    position: relative !important;
    display: flex;
    padding: 0 !important;
    height: 480px !important;
}

.patient-video-call-main{
    margin:10px 10px 10px 10px !important;    
}

.end-btn-big{
    background: red !important;
    /* color: red !important; */
}

.holder video {
    position: relative !important;
    display: block;
    transform: rotateY(180deg);
    object-fit: cover;
}

#user_name{
    position: absolute;
    z-index: 1000;
    color: white;
    font-size: 25px;
    font-weight: 900;
}

.agora_video_player{
    object-fit: contain !important;
}

.holder-local{
    width: 100%;
    /* padding-left: 5px ; */
    overflow: hidden;
    border-radius: 10px;
}
.holder-remote{
    position: absolute;
    right: 0.5 rem;
    top:0.5rem;
    width:150px;
    height:150px;
    overflow: hidden;
    border: 3px solid #fff;
    border-radius: 15px;
    background: #efefef;
    display: flow-root;
    justify-content: center;
    align-items: center;
    font-style: italic;
}
@media only screen and (max-width:650px) {
    .holder-remote{
        width:100px;
        height:100px;
    }
}