.holder  {
    position: relative !important;
    display: flex;
    padding: 0 !important;
    height: 480px !important;
}

.patient-video-call-main{
    margin:10px 10px 10px 10px !important;    
}

#local div:first-child{
    border-radius: 5px !important;
}

.end-btn-big{
    background: red !important;
    /* color: red !important; */
}

.holder video {
    position: relative !important;
    display: block;
    transform: rotateY(180deg);
    object-fit: cover;
}

#user_name{
    position: absolute;
    z-index: 1000;
    color: white;
    font-size: 25px;
    font-weight: 900;
}

.holder-local .agora_video_player{
    object-fit: contain !important;
}

.holder-local{
    width: 100%;
    /* padding-left: 5px ; */
    border: 3px solid white;
    height: 85vh;
    overflow: hidden;
    border-radius: 10px;
}
#local{
    padding: 0 !important;
}
.holder-remote1{
    height: 85vh;
    border: 3px solid white;
    border-radius: 15px !important;
}
.holder-remote1 .agora_video_player{
    object-fit: contain !important;
}
@media only screen and (max-width:650px) {
    /* .holder-remote{
        width:100px;
        height:100px;
    } */
    .holder-remote1 .agora_video_player{
        object-fit: cover !important;
    }
    .holder-remote1{
        position: absolute !important;
        left: 0.5rem !important;
        top:0.5rem !important;
        width:100px !important;
        height:100px !important;
        overflow: hidden !important;
        border: 3px solid #fff !important;
        border-radius: 15px !important;
        background: #ccf1f9 !important;
        display: flow-root !important;
        justify-content: center !important ;
        align-items: center !important;
        font-style: italic !important;
    }
}