{
  "env": {
    "production": {
      "plugins": ["transform-remove-console"]
    }
  }
}
// {
//     "presets": [["latest", {
//       "es2015": {
//         "modules": false
//       }
//     }]],
//     "plugins": ["external-helpers", "transform-react-jsx",]
//   }
