@media only screen and (max-width: 650px) {
  .careplan_mobile_view_tabs {
    display: flex !important;
    flex-wrap: nowrap !important;
  }
  .careplan_mobile_view_tabs ,.car_btn1 {
    background-color: #fff !important;
    /*
    width: 30px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    margin-left: 13px !important; */

  }
  .CarePlan{
    padding:8px !important;
  }
  .careplan_mobile_view_tabs ,.car_btn2 {
    background-color: #fff !important;

  }
  .careplan_mobile_view_tabs >.car_btn3 {
    background-color: #ffb7c5 !important;
    border-radius: 25px !important;
  }
 .careplan_drawer >.ant-drawer-body{
  padding: 0 !important;
}
.ant-drawer-close{
  padding: 15px 20px 40px 20px !important
  }
  .careplan_new_tabs,
  .ant-tabs-nav-wrap {
    display: contents;
  }
  .careplan_plan_button {
    background-color: #ffb7c5 !important ;
  }
  .careplan_mobile_view_tabs {
    display: contents !important;
  }
  .careplan_mobile.ant-row {
    flex-flow: row !important;
    justify-content: space-between !important;
  }
  .col_careplan1.ant-col {
    margin-left: 150px !important;
  }
  .col_careplan2.ant-col {
    margin-left: 20px !important;
  }
  .careplan_mobile.ant-row {
    /* position: absolute !important;
        display: flex; */
    justify-content: start;
  }
  .careplan_large_view {
    display: none !important;
  }
  .cart-plan-item-count_new {
    position: absolute !important;
    top: 10px !important;
    right: -12px;
    border: 0.2px solid black !important;
    padding: 0px 7px !important;
    border-radius: 10px !important;
    background: black !important;
    color: white !important;
  }
 
  /* .ant-card-body {
    display: none;
  } */
}
