.userAuthbtn{
    background-color:#1abc9a !important;
    color: black !important;
    border:none !important;
    margin-top: 40px;
    width: 50% !important;
    border-radius:2% !important;
}
.vectorImage{
    width: 98%;
    height:96vh;
}
.authFormDiv{
    margin: auto;
    text-align: center!important;
}
.formInput{
    margin:11px 0px;
    width:100%;
  
}
.forgotPassword{
    font-size:15px;
    font-weight: normal;
}
.forgotPassword:hover{
    text-decoration: underline;
}

@media only screen and (max-width:631px){
    .vectorImage{
        height:unset;
    }
}