.previous-quiz {
    padding:5% ;
}

.head {
    margin-bottom: 5%;
    font-weight: bolder;
}

.grid-col {
    display: grid;
    grid-template-columns: auto auto auto;
}

.boxx {
    padding: 1% 2%;
    border: 1px solid grey;
    margin:2% 0;
}