[data-theme='compact'] .ant-drawer-body p {
    margin-bottom: 0;
  }
  .ant-menu-submenu-title{
    padding-left : 16px !important;
  }
  @media only screen and (max-width: 650px) {
  .ant-drawer-body{
    padding: 0 !important;
  }

}