.post {
    background-color: aliceblue;
    height: 100vh;
    padding: 5% 25%;
}

.postcompletion {
    
    padding: 8% 10%;
    background-color: white;
    
}


.postcompletion button {
    
   margin: auto;
   padding: 5px;
    
}
.postcompletion label {
    font-size: 25px;
}

.notes {
    width: 100%;
    background-color: antiquewhite;
    padding:2%
}

.notes label {
    width: 100%;
}

.notesbox {
    width: 100%;
}

.submitt {
    background-color: #36aca8;
    color: white;
    border: 1px solid #35858b;
    font-size: 1.125rem;
    width: 20%;
    margin-top: 5% !important;
    margin:2%  40% !important;
    border-radius: 20px;
}

@media (max-width: 700px){
    .post {
        background-color: aliceblue;
        height: 100vh;
        padding: 5% 10%;
    }

    
.submitt {
    
    width: 25%;
    margin-top: 8% !important;
}
}