.holder {
    position: relative !important;
    display: flex;
    padding: 0 !important;
    height: 480px !important;
    /* background-color: antiquewhite;  */
}

.holder video {
    position: relative !important;
    display: block;
    transform: rotateY(180deg);
    object-fit: cover;
}

.holder-local {
    width: 100%;
    /* padding-left: 5px ; */
    height: 85vh;
    overflow: hidden;
    /* border-radius: 10px; */
}

#user_name {
    position: absolute;
    z-index: 1000;
    color: white;
    font-size: 25px;
    font-weight: 900;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* background-color: red; */
    color: white;
    text-align: center;
}

.end-btn-big {
    background: red !important;
    /* color: red !important; */
}

#remote {
    transform: rotateY(180deg) !important;
}

.holder-remote {
    position: absolute !important;
    width: 150px;
    height: 150px;
    z-index: 100;
    /* background-color: antiquewhite; */
}

.holder-remote {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border: 3px solid #fff;
    border-radius: 15px;
    background: #ccf1f9;
    display: flow-root;
    justify-content: center;
    align-items: center;
    font-style: italic;
}

@media only screen and (max-width: 650px) {
    .video-call-main-container {
        margin: 5px !important;
    }

    .video_con_bttn {
        border-radius: 20px !important;
    }

    .holder-remote {
        width: 100px;
        height: 100px;
    }
}