.control_buttons{
    border-radius: 50% !important;
}

.remote_stream_screen_mobile{
    display: none !important;
  }
  .remote_stream_screen_large{
      display: block !important;
}

@media only screen and (min-width: 1200px) {
  #full-screen-video{
    width: 780px !important;
  }
}

@media only screen and (max-width: 767px) {
    .video_call_arom_mobile_view{
        padding-bottom: 60px;
    }
      .rom_posture_btn{
        padding-top: 275px;
        justify-content: center;
      }
      .tabss{
          background-color: white;
      }
      .pose_large_view{
          display: block !important;
          padding-bottom: 20px;
      }
      .pose_mobile_view{
        display: none !important;
      }
      .video_con_bttn{
        width: 35px;
      }
      .video_conf_text{
          color: white;
      }
      .video_con_bttn{
        width: 40px;
      }
      /* .sticky_button_grp{
        position: fixed;
        bottom: 0;
      } */
      .remote_stream_screen_mobile{
        display: block !important;
      }
      .remote_stream_screen_large{
          display: none !important;
    }
    .rom_posture_btn_grp{
        position: absolute;
    }
    .arom_class{
        margin-top: 350px;
    }
    .posture_class{
        margin-top: 870px;
    }
}