<!DOCTYPE html>
<html>

<head>
    <title>Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://myphysio.digitaldarwin.in/images/core/v1/main.js"></script>
    <!-- <script src="darwin.js"></script> -->
</head>

<body>
    <div id="info" style='display:none'>
    </div>
    <div id="loading" style='display:flex'>
        <button id="start">Start</button>
    </div>
    <div id='main' style='display:none'>
        <button id="stop">stop</button>
        <button id="restart">restart</button>
        <select name="ex" id="ex">
            <option value="0">squats</option>
            <option value="27">hip flexion</option>
        </select>
        <div id="angles">
    
        </div>
        <video id="video" playsinline style="display: none;">
        </video>
        <canvas id="output"></canvas>
    </div>

    <script>
 
     
        const labels=['leftShoulder(ver)','RightShoulder(ver)'
                        ,'leftElbow','RightElbow',
                        'leftHip','RightHip',
                        'leftKnee','RightKnee', 
                        'leftShoulder(hor)', 'leftShoulder(hor)', 
                        ];
        const indices=[0,1,2,3,4,5,6,7,8,9];

        for(const i of indices) {
            const label = labels[i];
            document.getElementById('angles').innerHTML += `<input type="checkbox" name=${label} value=${i} checked>
                                    <label for=${label}>${label}</label><br>`
        }

        document.getElementById('stop').onclick = function() {
            darwin.stop();
        }

        document.getElementById('restart').onclick = function() {
            darwin.restart();
        }

        document.getElementById('ex').onchange = function(e)  {
            console.log(this.value);
            const primaryKeypoint = this.value;
            console.log(this.options[this.selectedIndex].text)
            const exname = this.options[this.selectedIndex].text;
            darwin.setExcersiseParams({
                "name": exname,
                "primaryKeypoint": primaryKeypoint,
            });
        }

        const checkboxes = document.getElementById('angles').querySelectorAll('input[type=checkbox]')
        
        document.getElementById('angles').onclick = function() {
            const angles = []
            for(const checkbox of checkboxes) {
                if(checkbox.checked === true) {
                    angles.push(parseInt(checkbox.value));
                }
            }
            darwin.setExcersiseParams({
                "angles": angles
            })
        }

        darwin.setExcersiseParams({
            "name": 'squats',
            "primaryKeypoint": 0,
            "angles": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
        });

        const video = document.getElementById('video');
		video.width = 600;
		const canvas = document.getElementById('output');

		const options = {
			video,
			videoWidth: 640,
			videoHeight: 480,//window.innerHeight-20,
			canvas,
			loadingEleId: 'loading',
			mainEleId: 'main',
			supervised: true,
			showAngles: false,
		}

		//initialize the model with options
		darwin.initializeModel(options);

		// kick off the model
        document.getElementById("start").onclick = function() {
            darwin.launchModel();
            // darwin.stop()
        }
    </script>
</body>

</html>