.arom-joints-list-wrapper-1x {
    height: 90vh;
    width: 10vw;
    border: 1px solid #0A7BE7 !important;
}

.arom-joints-list-item-1x {
    color: green;
    text-align: center;
    background-color: whitesmoke;
}

.div-border-1x div {
    border-radius: 5px;
}

.arom-joints-list-wrapper-1x ::-webkit-scrollbar-track {
    background-color: white !important;
}

.arom-joints-list-wrapper-1x div {
    width: auto;
    height: 4rem;
    margin: 10px;
    border: 1px solid #0A7BE7 !important;
    /* background-color: #F9F9FC !important; */
}

.arom-canvas-1x {
    height: 90vh;
    background-color: aqua;
}

.arom-btn-grp-wrapper {
    margin:0 10px 0 10px;
    background-color: #F9F9FC !important;
}


.arom-btn-grp{
    display: flex;
    justify-content: space-around;
    padding:10px 0px 10px 0px !important;
}
.arom-btn-grp .ant-btn {
    width: 3rem !important;
    height: 3rem !important;
    padding: 0 !important;
    background-color: #fff !important;
    border: 1px solid #0A7BE7 !important;
    border-radius:10px !important;
}


.arom-btn-grp .ant-btn:hover {
    background-color: white !important;
    border: 2px solid #0A7BE7 !important;
    border-radius:10px ;
    box-shadow: 2px #0A7BE7 !important;
}

.arom-analytics-tab-wrapper-1x{
    margin: 10px;
    background-color: #F9F9FC !important;
    height:78vh !important;
    display: grid;
   
    grid-template-columns: repeat(2, 1fr);
    overflow-y: scroll;
}

.arom-analytics-tab-wrapper-1x div{
    margin: 0.5rem;
    grid-gap: 1rem;
    background-color: white !important;
    height: 8rem !important;
}
.arom-analytics-tab-wrapper-1x div:hover{
    border: 1px solid #0A7BE7 !important;
}
.arom-analytics-tab-wrapper-1x div:first-child{
    margin: 0.5rem;
}
.arom-analytics-tab-wrapper-1x div:nth-child(2){
    margin: 0.5rem;
}
/* .assesment-list-1x {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
} */
