.pain_assessment_comp .ant-form-item-control-input{
    background-color: #fff!important;
    display: none;
}
.pain_assessment_comp .ant-form-item-label{
    padding: 0 !important;
}
.pain_form{
    padding: 10px !important;
}

