.Formdiv label {
    margin-right: 20px;
}

.consultForm {
    padding: 5% ;
}

.fomr-button {
    background-color: #2d7ecb;
    color: white;
    border: 1px solid #35858b;
    font-size: 1.125rem;
    width: 12%;
    padding: 0.50% !important;
    margin-top: 5% !important;
    margin:2%  40% !important;
    border-radius: 20px;
}

.build {
    display:"flex";
    width: 25%;
}

.build div {
    display:flex;
    align-items:center;
    /* margin-right:2%; */
}

.build input {
    margin-right: 5%;
}

.build label {
   
margin:0
}

.build-img {
    width:80%;
}

.build-img.two {
    width: 78%;
    }

.build-img.three {
width: 70%;
}

@media (max-width:700px){
    .fomr-button {
        width: 40%;
        margin:2%  30% !important;
    }
}

@media (max-width:450px){
    .build {
        display:"flex";
        /* flex-direction: column; */
        width: 100%;
    }

    .build div {
        display:flex;
        align-items:center;
        /* margin-right:2%; */
        justify-content: center;
    }
}