.Formdiv label {
    margin-right: 20px;
}

.consultForm {
    padding: 5% ;
}

.fomr-button {
    background-color: #36aca8;
    color: white;
    border: 1px solid #35858b;
    font-size: 1.125rem;
    width: 12%;
    padding: 0.50% !important;
    margin-top: 5% !important;
    margin:2%  40% !important;
    border-radius: 20px;
}

@media (max-width:700px){
    .fomr-button {
        width: 40%;
        margin:2%  30% !important;
    }
}